


<h2>Article-vente (enchere en cours)</h2>

<p>"Rocket stove pour riz et pâtes"</p>


<p>lien image :{{vendu.img}}</p>

<div>
   
    <p>Meilleur offre:{{vendu.offre}}</p>
    <p>Mise à prix:{{vendu.prix}}</p>
    <p>Fin de l'enchère:{{vendu.fin_de_enchere}}</p>
    <p>Retrait :{{vendu.retrait}}</p>
    <p>Vendeur :{{vendu.vendeur}}</p>

      
    
    <div>
        <input type="button" value="Annuler la vente" routerLink=""><br><br>
    </div>
    <div>
        <input type="button" value="Retrait effectué" routerLink="liste-enchere"><br><br>
    </div>
    <div>
        <input type="button" value="Contacter jojo44"><br><br>
    </div>
    <div>
        <input type="button" value="Back" routerLink="/liste-enchere">
    </div>
</div>












