<app-en-tete></app-en-tete>
 
<div id="creeCompte"> 
    <h2> Créer un compte</h2>
</div>

<div id="information">
    <div class="gauche">
        <label for="pseudo">Pseudo : </label>
        <input type="text" name="pseudo" id="pseudo" value=""><br><br>
    </div>

    <div class="droite">
        <label for="nom">Nom : </label>
        <input type="text" name="nom" id="nom" value=""><br><br>
    </div>

    <div class="gauche">   
        <label for="prenom">Prenom : </label>
        <input type="text" name="prenom" id="prenom" value=""><br><br>
    </div>

    <div class="droite">
        <label for="Prenom">Email : </label>
        <input type="text" name="email" id="email" value=""><br><br>
    </div>
    
    <div class="gauche">
        <label for="telephone">Telephone : </label>
        <input type="text" name="telephone" id="telephone" value=""><br><br>
    </div>
    
    <div class="droite">
        <label for="rue">Rue : </label>
        <input type="text" name="rue" id="rue" value=""><br><br>
    </div>
    
    <div class="gauche">
        <label for="codePostal">Code postal : </label>
        <input type="text" name="codepostal" id="codepostal" value=""><br><br>
    </div>
    
    <div class="droite">
        <label for="ville">Ville : </label>
        <input type="text" name="ville" id="ville" value=""><br><br>
    </div>
    
    <div class="gauche">
        <label for="motdepasse">Mot de passe : </label>
        <input type="password" name="motdepasse" id="motdepasse" value=""><br><br>
    </div>
    
    <div class="droite">
        <label for="confirmation">Confirmation : </label>
        <input type="password" name="confirmation" id="confirmation" value=""><br><br>
    </div>

</div>

<div>
    <input type="button" value="Créer"><br><br>
    <input type="button" value="Annuler"><br><br>
</div>
