
<h2>Nouvelle vente</h2>

<div>
    <label for="nomArticle">Article : </label>
    <input type="text" name="nomArticle" id="nomArticle">
</div>

<div>
    <label for="categorie">Categorie : </label>
    <select name="categorie" id="categorie">
        <option value="cat1">cat1</option>
    </select>
</div>

<div>
    <label for="description">Desciption : </label>
    <input type="text" name="description" id="description">
</div>

<div>
    <label for="photoArticle">Photo de l'article : </label>
    <input type="button" name="photoArticle" id="photoArticle" value="UPLODER">
    <img src="" alt="">"photoArticle a placer"
</div>

<div>
    <label for="prixInitial">Prix initial : </label>
    <input type="number" name="prixInitial" id="prixInitial" min="1">
</div>

<div>
    <label for="debutEnchere">Début de l'enchère : </label>
    <input type="date" name="debutEnchere" id="debutEnchere">
</div>

<div>
    <label for="finEnchere">Fin de l'enchère : </label>
    <input type="date" name="finEnchere" id="finEnchere">
</div>

<div>
    <label for="retrait">Retrait : </label>
    
</div>

<div>
    <input type="button" value="Enregistrer"><br><br>
</div>
<div>
    <input type="button" value="Annuler" routerLink="/liste-enchere">
</div>
